.intro {
  position: relative;
  margin-top: -13rem;
  width: 100%;
  min-height: 697px;
  background-image: url("./assets/asset.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
